<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http pattern="/pages/public/**" security="none" />
	<http pattern="/javax.faces.resource/**" security="none" />

	<http auto-config="false" use-expressions="true"
		access-denied-page="/pages/private/AcessoNegado.xhtml">

		<intercept-url pattern="/pages/private/HomePrivate.xhtml"
			access="isAuthenticated()" />

		<intercept-url pattern="/pages/private/assunto/**"
			access="hasAnyRole('ADMINISTRADOR')" />

		<intercept-url pattern="/pages/private/mensagem/**"
			access="hasAnyRole('ADMINISTRADOR', 'USUARIO')" />

		<intercept-url pattern="/pages/private/relatorio/**"
			access="hasAnyRole('ADMINISTRADOR', 'USUARIO')" />

		<intercept-url pattern="/**" access="denyAll" />

		<form-login login-page="/pages/public/Login.xhtml"
			authentication-failure-url="/pages/public/Login.xhtml?invalid=true"
			default-target-url="/pages/private/HomePrivate.xhtml"
			always-use-default-target="true" />
		
		<logout logout-url="/j_spring_security_logout"
			invalidate-session="true" />

	</http>

	<beans:bean id="appUserDetailsService"
		class="br.mil.eb.ccomsex.flc.security.AppUserDetailsService" />

	<authentication-manager>
		<!-- Nosso provedor -->
		<authentication-provider user-service-ref="appUserDetailsService">
			<!-- <password-encoder hash="md5" /> -->
		</authentication-provider>
	</authentication-manager>

</beans:beans>
